@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	background-color: #FFFEEE;	
	padding:0;
	margin:0;	
}

.header-fixed {
	background-color:#2E0000;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
	top:-100px;
}

.header-fixed .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-fixed .header-limiter h1 {
	float: left;		
	font-family: 'Exo', sans-serif !important;
	line-height: 40px;
	margin: 0;
}

.header-fixed .header-limiter h1 span {
	color: #07E883;	
}

.header-fixed .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

body > div.header-fixed > div > a > h1 {
	display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

/* Making the header responsive */

@media all and (max-width: 600px) {
	.header-fixed {
		padding: 20px 0;
		height: 75px;
	}

	.header-fixed .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-fixed .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header-fixed .header-limiter nav a {
		font-size: 13px;
	}

	body.fixed .header-fixed {
		display: none;
	}
}
