@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

@import url("icomoon.css");

html, body, form, a, div, p, span, figurecaption, h1, h2, h3, h4, h5, h6, h7, li, ul, input {
	font-family: 'Exo', sans-serif;
}
.pagination>.active>a, 
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus{
	background-color: #07E883;
    border-color: #07E883;
}
.white-space{
	padding-top:1em;
}
.white-txt{
	color:#ffffff;
}
.cs-style div {
	margin: 0;
	padding: 50px;
	text-align: left;
}

figure.menuIcon {
	margin: 0;
}

figure.menuIcon img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
	position: relative;
}

.menuIcon figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	background: #07E883;
	color: white;
}

.menuIcon figcaption h1 {
	margin: 0;
	padding: 0;
	color: #FFFEEE;
}

/* Caption Style 5 */
.cs-style figure img {
	z-index: 10;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style figure:hover img, .cs-style figure.cs-hover img {
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	-ms-transform: scale(0.4);
	transform: scale(0.4);
}

.cs-style figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	-moz-transition: -moz-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

.no-touch .cs-style figure:hover figcaption, .cs-style figure.cs-hover figcaption
	{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.cs-style figure a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.header-user-menu {
	position: absolute;
	float: right;
	background-color: #2a2c2b;
	width: 120px;
	height: 40px;
	border-radius: 2px;
	right: 30px;
	font-family: 'Exo', sans-serif;
}

#wrap>div.header-fixed>div>div>p {
	padding: 9px;
	color: #07E883;
	font-weight: bold;
}

.header-user-menu:before {
	content: '';
	width: 0;
	height: 0;
	top: 18px;
	left: 15px;
	position: absolute;
	border: 5px solid transparent;
	border-top-color: #07E883;
}

.header-user-menu ul {
	display: none;
	font: bold 13px Arial, Helvetica, sans-serif;
	background-color: #07E883;
	list-style: none;
	position: absolute;
	text-align: center;
	width: 125px;
	top: 25px;
	right: 0;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
}

.header-user-menu:active ul, .header-user-menu:hover ul,
	.header-user-menu.show ul {
	display: block;
}

.header-user-menu ul li {
	padding: 5px;
	color: #07E883;
}

.header-user-menu ul li a:hover {
	opacity: 0.9;
}

.header-user-menu ul li a.highlight {
	color: #07E883;
}

.header-user-menu img {
	border-radius: 50%;
	position: absolute;
	top: 6px;
	max-width: 28px;
	right: 10px;
}

.panel-info>.panel-heading {
	background-color: #07E883 !important;
	color: white !important;
	border-color: #07E883 !important;
}

.panel-info {
	border-color: #07E883 !important;
}

button, html input[type="button"], input[type="reset"], input[type="submit"]
	{
	-webkit-appearance: button;
	cursor: pointer;
	background-color: #07E883 !important;
	color: white !important;
	border-color: #07E883 !important;
}

button:hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover
	{
	-webkit-appearance: button;
	cursor: pointer;
	background-color: #05B767 !important;
	color: white !important;
	border-color: #05B767 !important;
}

.btn-margin {
	margin: 10px 5px;
	-webkit-appearance : button;
	cursor: pointer;
	background-color: #07E883 !important;
	color: white !important;
	border-color: #07E883 !important;
}
.backBtn-padding{
	padding-left:66px;
}
@media all and (max-width: 970px) {
	.backBtn-padding{
		padding-left:36px;
	}
}
@media all and (max-width: 600px) {
	.backBtn-padding{
		padding-left:10px;
	}
}
.backBtn-ico, .backBtn-txt{
	color:#07E883;
	vertical-align: middle;
}
.backBtn-padding:hover a, .backBtn-padding:hover a:hover
.backBtn-padding a:hover, form a:hover{
	text-decoration:none;
}
.backBtn-padding:hover a span{
	color:#05B767;
}
.backBtn-padding:hover a span.backBtn-txt{
	opacity:1;
	margin:0;
}
.backBtn-ico{
	font-size:3em;
}
.backBtn-txt{
	transition: margin-left 0.75s ease-out, opacity 0.25s ease-in;
    -moz-transition: margin-left 0.75s ease-out, opacity 0.25s ease-in;
    -webkit-transition: margin-left 0.75s ease-out, opacity 0.25s ease-in;
    opacity:0;
    margin-left:-100px;
	font-size: 2.5em;    
    padding-left: 5px;
}