@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);

@import	url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300)	;

@import url("icomoon.css");

html, body, form, a, div, p, span, figurecaption, h1, h2, h3, h4, h5, h6,
	h7, li, ul, input {
	font-family: 'Exo', sans-serif;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover,
	.pagination>.active>span:hover, .pagination>.active>a:focus,
	.pagination>.active>span:focus {
	background-color: #0CAD4F !important;
	border-color: #0CAD4F !important;
}

.pagination>.disabled>span, .pagination>.disabled>span:hover,
	.pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover,
	.pagination>.disabled>a:focus {
	background-color: #eee !important;
}

.ui-widget-content {
	border: none;
}

.ui-tree {
	margin: 0 auto;
}

.ui-tree {
	font-size: 1.5em !important;
}

.ui-tree .ui-tree-container {
	overflow: visible !important;
}

.white-space {
	padding-top: 1em;
}

.white-txt {
	color: #ffffff;
}

.cs-style div {
	margin: 0;
	padding: 50px;
	text-align: left;
}

.ui-tree .ui-tree-toggler {
	vertical-align: middle !important;
}

figure.menuIcon {
	margin: 0;
}

figure.menuIcon img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
	position: relative;
}

.menuIcon figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	background: #0CAD4F;
	color: white;
}

.menuIcon figcaption h1 {
	margin: 0;
	padding: 0;
	color: #FFFEEE;
}

/* Caption Style 5 */
.cs-style figure img {
	z-index: 10;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.cs-style figure:hover img, .cs-style figure.cs-hover img, .cs-style figure:active img,
	.cs-style figure.cs-active img, .cs-style figure:focus img, .cs-style figure.cs-focus img,
	a figure:hover img, .cs-style figure.cs-hover img, a figure:active img,
	.cs-style figure.cs-active img, a figure:focus img, .cs-style figure.cs-focus img
	{
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	-ms-transform: scale(0.4);
	transform: scale(0.4);
}

.cs-style figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	-moz-transition: -moz-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

.cs-style figure:hover figcaption, .cs-style figure.cs-hover figcaption,
	.cs-style figure:active figcaption, .cs-style figure.cs-active figcaption,
	.cs-style figure:focus figcaption, .cs-style figure.cs-focus figcaption,
	a figure:hover figcaption, a figure.cs-hover figcaption, a figure:active figcaption,
	a figure.cs-active figcaption, a figure:focus figcaption, a figure.cs-focus figcaption
	{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.cs-style figure a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.header-user-menu {
	position: absolute;
	float: right;
	background-color: #2a2c2b;
	width: 120px;
	height: 40px;
	border-radius: 2px;
	right: 30px;
	font-family: 'Exo', sans-serif;
}

#wrap>div.header-fixed>div>div>p {
	padding: 9px;
	color: #0CAD4F;
	font-weight: bold;
}

.header-user-menu:before {
	content: '';
	width: 0;
	height: 0;
	top: 18px;
	left: 15px;
	position: absolute;
	border: 5px solid transparent;
	border-top-color: #0CAD4F;
}

.header-user-menu ul {
	display: none;
	font: bold 13px Arial, Helvetica, sans-serif;
	background-color: #0CAD4F;
	list-style: none;
	position: absolute;
	text-align: center;
	width: 125px;
	top: 25px;
	right: 0;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
}

.header-user-menu:active ul, .header-user-menu:hover ul,
	.header-user-menu.show ul {
	display: block;
}

.header-user-menu ul li {
	padding: 5px;
	color: #0CAD4F;
}

.header-user-menu ul li a:hover {
	opacity: 0.9;
}

.header-user-menu ul li a.highlight {
	color: #0CAD4F;
}

.header-user-menu img {
	border-radius: 50%;
	position: absolute;
	top: 6px;
	max-width: 28px;
	right: 10px;
}

.panel-info>.panel-heading, .panel-body>.panel-heading {
	background-color: #0CAD4F !important;
	color: white !important;
	border-color: #0CAD4F !important;
}

.panel-info {
	border-color: #0CAD4F !important;
}

.panel-heading a:after {
	content: none !important;
}

.link-btn {
	background-color: white !important;
	cursor: pointer;
	color: #0CAD4F !important;
	border-color: #ccc !important;
}

.link-btn:hover, .link-btn:focus {
	background-color: white !important;
	cursor: pointer;
	color: #0CAD4F !important;
	border-color: #ccc !important;
}

.link-btn span.link-btn-txt {
	display: none;
}

.link-btn:hover span.link-btn-txt, .link-btn:focus span.link-btn-txt {
	margin: 0;
	padding-left: 5px;
	display: inherit;
}
        
.link-btn, .link-btn:hover, .link-btn:focus {
	text-decoration: none !important;
	-webkit-appearance: inherit !important;
}

button, html input[type="button"], input[type="reset"], input[type="submit"]
	{
	-webkit-appearance: button;
	cursor: pointer;
	background-color: #0CAD4F !important;
	color: white !important;
	border-color: #0CAD4F !important;
}

button:hover, html input[type="button"]:hover, input[type="reset"]:hover,
	input[type="submit"]:hover {
	-webkit-appearance: button;
	cursor: pointer;
	background-color: #05B767 !important;
	color: white !important;
	border-color: #05B767 !important;
}

.btn-margin {
	margin: 10px 5px;
	-webkit-appearance: button;
	cursor: pointer;
	/* 	background-color: #0CAD4F !important; */
	color: white;
	/* 	border-color: #0CAD4F !important; */
}

.backBtn-padding {
	padding-left: 0px;
}

@media all and (max-width: 970px) {
	.backBtn-padding {
		padding-left: 36px;
	}
}

@media all and (max-width: 600px) {
	.backBtn-padding {
		padding-left: 10px;
	}
}

.backBtn-ico, .backBtn-txt {
	color: #0CAD4F;
	vertical-align: middle;
}

.backBtn-padding:hover a, .backBtn-padding:hover a:hover
.backBtn-padding a:hover, form a:hover {
	text-decoration: none;
}

.backBtn-padding:hover a span {
	color: #05B767;
}

.backBtn-padding:hover a span.backBtn-txt, .backBtn-padding:active a span.backBtn-txt
	{
	opacity: 1;
	margin: 0;
}

.backBtn-ico {
	font-size: 3em;
}

.backBtn-txt {
	transition: margin-left 0.75s ease-out, opacity 0.25s ease-in;
	-moz-transition: margin-left 0.75s ease-out, opacity 0.25s ease-in;
	-webkit-transition: margin-left 0.75s ease-out, opacity 0.25s ease-in;
	opacity: 0;
	margin-left: -100px;
	font-size: 2.5em;
	padding-left: 5px;
}

a {
	color: #0CAD4F !important;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover,
	.pagination>.active>span:hover, .pagination>.active>a:focus,
	.pagination>.active>span:focus {
	background-color: #0CAD4F !important;
	border-color: #0CAD4F !important;
	color: white !important;
}

.ui-panelgrid .ui-panelgrid-cell {
	border-width: 1px;
	border-style: solid;
	border-color: transparent !important;
	padding: 4px 10px;
}


.ui-datatable-tablewrapper tr:hover{ 
/* 	background-color: #c4c4c4;  */

}

.ui-widget-content {
	/*     border: 1px solid #a8a8a8; */
	background: transparent;
}

.header-fixed .header-limiter a {
	color: #ffffff !important;
	text-decoration: none;
	font-size: 15px !important;
	font-family: 'Exo', sans-serif;
}

.ui-widget {
	font-family: 'Exo', sans-serif;
	font-size: 1.1em;
}

.input-group-addon:not (:first-child ):not (:last-child ),
.input-group-btn:not (:first-child ):not (:last-child ), 
.input-group .form-control:not (:first-child ):not (:last-child ):focus {
	border-color: #23E875;
}

.input-group-btn, .input-group .form-control:focus {
	border-color: #23E875 !important;
}

textarea.form-control:focus {
	border-color: #23E875 !important;
}

.ui-icon-folder-open {
	background-image: url("#{resource['images/bamboo-trunk-outline.png']}")
		!important;
	background-size: contain;
	background-position: inherit !important;
	height: 35px;
	width: 35px;
}

.ui-icon-folder-collapsed {
	background-image: url("#{resource['images/bamboo-trunk-solid.png']}")
		!important;
	background-size: contain;
	background-position: inherit !important;
	height: 35px;
	width: 35px;
}

.ui-icon-image {
	background-image: url("#{resource['images/leaf.png']}") !important;
	background-size: contain;
	background-position: inherit !important;
	height: 30px;
	width: 30px;
}

.ui-state-hover {
	background: rgba(12, 173, 79, 0.65) !important;
	box-shadow: none !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	background: #0CAD4F !important;
}

.ui-tree .ui-treenode {
	padding: 3px 0 0 !important;
}

.ui-selectonemenu-list {
	background: white;
}

.ui-selectonemenu-list-item {
	width: 100%;
	font-size: 1.2em;
}

.ui-inputfield {
	box-shadow: none;
}

.ui-selectonemenu-list { 
    background: white;
} 
/*Prime faces table CSS overwrite*/
.ui-datatable tbody td{
	border-color: #ddd !important;
}
.ui-datatable tbody td, 
.ui-datatable tfoot td, 
.ui-datatable tfoot th{
	border:1px solid #ddd !important;
	padding: 0px 8px !important;
}
.ui-datatable thead th{
	border-bottom-width: 3px !important;
	border:1px solid #ddd;
}
.ui-datatable-tablewrapper table {
	font-size: 14px;
}
.ui-datatable-odd{
	background:#f9f9f9 !important;
}
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default{
    font-weight: bolder !important;
    font-size: 14px !important;
    text-align: left !important;
    background-color: white;
}
th.ui-state-default{
	border-bottom-width: 2px !important;
}
td > table tr:hover{
	background-color: transparent !important;
}
