#heading {
   padding: 20px;
   height: 70px;
   margin-bottom: 10px;
   background: #36BFA6;
   border: 1px solid darkGray;
}

#sidebarLeft {
   border: thin solid lightGray;
   padding: 5px;
   width: 100px;
   background: #5B5C60;
   height: 730px;
}

#content {
   padding: 5px;
   border: thin solid lightGray;
   background: #E4E8EB;
   position: absolute;
   right: 8px;
   left: 130px;
   height: 730px;
   top: 130px;
}

.header {
   font-size: 2.5em;
   font-family: Helvetica;
   text-align: center;
   font-weight: bold;
   padding-top: 20px;
}

.errorMessage {
   color:red; 
}

.planetImage {
   padding: 5px;
   text-align: center;
}

.planetImageSelected {
   padding: 5px;
   text-align: center;
   background: #fefeef;
   border: thin solid lightGray;
}

.welcome {
   font-style: italic;
   font-family: Palatino;
}

.welcomeImage {
   margin-top: 10px;
   text-align: center;
}